body {
  margin: 15px;
  background-color: #d7ffa5;
}

h1 {
  font-size: 3em;
  font-family: arial,sans-serif;
  color: #428a00;
  }

.CopyText {
  height: 60px;
  width: 40%;
  background-color: #f8fff8;
  border: 2px solid #c8cfc8;
  }
