body {
  margin: 20px;
  background-color: #afffaf;
  font-family: arial, sans-serif;
}

h1 {
  font-size: 3em;
  color: #051905;
}

button {
  height: 40px;
  background-color: #88ea88;
  color: #051905;
  border: 3px solid #65c765;
  border-radius: 5px;
  padding: 7px 10px;
}

.ScratchLink:link, .ScratchLink:visited {
  color: #051905;
  text-decoration: none;
}

.ScratchLink:hover, .ScratchLink:active {
  color: #306800;
  text-decoration: none;
}

.CopyText {
  height: 60px;
  width: 50%;
  background color: rgb(250, 255, 250);
  border: 5px solid rgb(240, 245, 240);
  border-radius: 10px;
  padding: 5px 10px;
  resize: none;
}

.container {
  margin: 10px;
}
